.top-container {
  background-color: red;
  height:200px;
  width:200px;
  border: solid 10px;
  padding: 20px;

}
.middle-container {
  background-color: green;
  height:200px;
  width:200px;
  border: solid 20px;
  margin-left: 260px;
}

.bottom-container {
  background-color: blue;
  height:200px;
  width:200px;
  border: solid 10px;
  margin-left: 500px;
}
